{% extends "main/base.html" %}
{% load static %}

{% block title %}
Главное меню
{% endblock %}

{% block main %}
    {% include "main/header.html" %}

    {% block content %}
        <div class="nav-item offset">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Вчерашние помидоры" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Искать</button>
          </form>
        </div>
        <br/><br/>

        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            
            {% for product in products %}
            <div class="col">
                <div class="card mb-5 rounded-5 shadow">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{product.title}}</h4>
                    </div>
                    <div class="card-body my-card">
                        {% if product.image %}
                            <img class="product-image" src="{{product.image}}" alt="picture"/>
                        {% else %}
                            <img class="product-image" src="{% static 'main/img/none.jpg' %}" alt="picture"/>
                        {% endif %}
                        <div class="inner-card">
                            <h1 class="card-title pricing-card-title">{{product.price}}<small class="text-muted fw-light">₽</small></h1>
                            <ul class="list-unstyled mt-3 mb-1">
                                {% if product.description %}
                                    <li>{{product.description|truncatewords:15}}</li>
                                {% endif %}
                                <br/>
                                <li>Осталось {{product.quantity}} шт.</li>
                            </ul>
                        </div>
                    </div>
                    <form action="{% url 'menu' %}" method="POST"> {% csrf_token %}
                        <input type="hidden" name="title" value="{{product.title}}"/>
                        <input type="hidden" name="id" value="{{product.id}}"/>
                        <input type="hidden" name="quantity" value="{{product.quantity}}"/>
                        <input type="hidden" name="price" value="{{product.price}}"/>
                        <input type="hidden" name="image" value="{{product.image}}"/>
                        <input type="hidden" name="description" value="{{product.description}}"/>
                        <button type="submit" class="btn btn-lg btn-outline-primary my-btn add_item">Купить</button>
                    </form>
                </div>
            </div>
            {% endfor %}

        </div>
        <nav class="list_pages">
            <ul>
                {% for page in page_range %}
                {% if page == current_page %}
                <li class="page_num page_num_selected">
                    <a class="page" href="?page={{page}}">{{page}}</a>
                </li>
                {% else %}
                <li class="page_num">
                    <a class="page" href="?page={{page}}">{{page}}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <div class="nav justify-content-center border-bottom pb-3 mb-3">
            <a class="btn btn-primary" href="#" id="scroll_top">↑ Наверх</a>
        </div>
    {% endblock content %}

    {% include "main/footer.html" %}
{% endblock %}
