[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
uvicorn = "*"
httpx = "*"
django-cors-headers = "*"
pillow = "*"
django-mptt = "*"
django-mptt-admin = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
celery = "*"
requests = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
