html {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

.favicon {
    object-fit: cover;
    object-position: 70% 50%;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.container {
    max-width: 1180px;
}

.offset {
    margin-top: 110px !important;
    max-width: 800px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.header {
    background-color: rgb(224, 247, 248);
    border-bottom-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
}

.product-image {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 20px;
    align-self: center;
}

.my-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inner-card {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 40px;
}

.my-btn {
    max-width: 150px;
    margin: 10px auto;
}

.basket-count {
    padding: 8px;
    color: #0d6efd;
    font: 16px Arial, sans-serif;
}

.circle {
    border: 1px solid #0d6efd;
    background: rgb(224, 247, 248);
    border-radius: 50%;
    height: 1.5rem;
    align-self: center;
    position: relative;
    left: -10px;
}

.card_header {
    background-color: rgb(224, 247, 248) !important;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
}

.my_col {
    width: 80% !important;
    margin: 0 auto;
}

.radius {
    border-radius: 50px !important;
    --bs-btn-padding-x: 0.5rem !important;
    --bs-btn-padding-y: 0.5rem !important;
    margin: 0px 40px 10px;
}

.reset_btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.counter {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.six {
    padding: 20px 20px;
    text-align: center;
}
.six h1 {
    font-weight: 600;
    font-family: 'Merriweather', serif;
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 1;
    color: #267dff;
    font-size: 22px;
    padding: .4em 1em .55em;
}
.six h1:before,
.six h1:after {
    content: ""; 
    position: absolute;
    width: 60%;
    height: .1em;
    background: #8fbafa; 
}
.six h1:before {
    left: 0;
    top: 0;
}
.six h1:after {
    right: 0;
    bottom: 0;
}
.six h1 span:before,
.six h1 span:after {
    content: ""; 
    position: absolute;
    width: .65em;
    height: .65em;
    border: .13em solid #8fbafa;
    border-radius: 50%;
    box-sizing: border-box;
}
.six h1 span:before {
    top: -.55em;
    left: -.325em;
}
.six h1 span:after {
    bottom: -.55em;
    right: -.325em;
}
@media (max-width: 600px) {
    .six h1 {font-size: 2em;}
}
@media (max-width: 450px) {
    .six h1 {font-size: 1.5em;}
}

.currency {
    display: flex;
    flex-direction: column;
    color: #267dff;
}

.updated_time {
    font-size: 10px;
}

.total_price {
    font-weight: 600;
    font-family: 'Merriweather', serif;
    font-size: 28px;
    color: #267dff;
}

.total_money {
    color: #157347;
}

.list_pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list_pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list_pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list_pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list_pages .page_num, .page_num_selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list_pages .page_num:hover {
	box-shadow: 3px 3px 1px #d0d0d0; 
}
.list_pages .page_num_selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list_pages .page_num_selected:hover {
	box-shadow: none; 
}
